<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Hello! Welcome to Pod Nginx Launcher</h1>

<div class="container">
    <div class ="row justify-content-center">
        <div class="col-sm-8">
            <h2>User dashboard</h2>
            <p><b>Name: </b> {{user.name}}</p>
            <p><b>Email: </b> {{user.email}}</p>
    
              
            <a href="/logout" class="btn btn-dark">Logout</a>
                
        </div>
    </div>  
</div>


    <form method="POST" action="/create" target="_blank">
        <label for="pod_name">Enter a name for your pod:</label>
        <input type="text" id="pod_name" name="pod_name" required><br>
        <input type="submit" value="Launch Pod">
    </form>

    <h2>Logout (Delete Your Pod)</h2>

    <form method="POST" action="/logout" target="_blank">
        <label for="session_id">Enter your session ID to logout:</label>
        <input type="text" id="session_id" name="session_id" required>
        <input type="submit" value="Logout">
    </form>
</body>
</html>

